{% extends 'user_module/layout.html' %}
{% load static %}

{% block body %}

<!-- banner -->
<div class="banner-bg-agileits">
    <!-- banner-text -->
    <div class="banner-text">
        <div class="container">
            <p class="b-txt">the</p>
            <h2 class="title">
                NGO
            </h2>
            <ul class="banner-txt">
                <li>share.</li>
                <li> explore. </li>
                <li>amplify.</li>
            </ul>
        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->


<!-- about -->
<div class="about-sec section" id="about">
    <div class="container">
        <!-- about-left-grid -->
        <div class="col-md-7 about-left-grid">
            <div class="inner-about2">
                <h4>the splendid Central Library</h4>
                <p>Billed as the largest in the world,and the library's collection holds more than 3 million items.</p>
                <h5>the library catalogue</h5>
                <ul class="about-list">
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>International Collections</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>ebooks</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Manuscripts</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>scientific and Technical Information</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Comic Books</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Cartography</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Journals</li>

                </ul>
                <a href="#">view more</a>
            </div>
            <!-- about left bottom - services -->
            <div class="principles-grids principles-grids1">
                <div class="abt-btm agileits w3layouts aos-init aos-animate">
                    <div class="col-md-6 col-sm-6 agileits elite-services1 w3layouts bottom-gds" data-aos="fade-up">
                        <div class="bott-img agileits w3layouts">
                            <div class="icon-holder agileits w3layouts">
                                <span class="fa fa-book agileits w3layouts service-icon" aria-hidden="true"></span>
                            </div>
                            <h4 class="mission agileits w3layouts">law library</h4>
                            <div class="description agileits w3layouts">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 agileits elite-services2 w3layouts bottom-gds" data-aos="fade-down">
                        <div class="bott-img bott-img1 agileits w3layouts">
                            <div class="icon-holder agileits w3layouts">
                                <span class="fa fa-book agileits w3layouts service-icon" aria-hidden="true"></span>
                            </div>
                            <h4 class="mission agileits w3layouts">asian materials</h4>
                            <div class="description agileits w3layouts">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //about left bottom - services ends here -->
        </div>
        <!-- //about-left-grid ends here-->
        <!-- about-right-grid -->
        <div class="col-md-5 about-right-grid"></div>
        <!-- //about-right-grid ends here -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- //about ends here -->

<!-- gallery -->
<div id="section_demo" class="section">
    <div class="container">
        <h4 class="rad-txt">
            <!-- <span class="">the library</span> -->
            <span class="abtxt1">gallery</span>
        </h4>
        <div class="row">
            <!-- Result 1 -->
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div id="slideshow_1_thumbs_1" class="col-lg-2 col-md-2">
                        <ul class="slideshow1_thumbs desoslide-thumbs-vertical list-inline text-center">
                            <li>
                                <a href="images/l3.jpg">
                                    <img src="{% static 'assets/images/lt3.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                            <li>
                                <a href="images/l2.jpg">
                                    <img src="{% static 'assets/images/lt2.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                            <li>
                                <a href="images/l5.jpg">
                                    <img src="{% static 'assets/images/lt5.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                            <li>
                                <a href="images/l4.jpg">
                                    <img src="{% static 'assets/images/lt4.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="slideshow1" class="col-lg-8 col-md-8"></div>
                    <div id="slideshow_1_thumbs_2" class="col-lg-2 col-md-2">
                        <ul class="slideshow1_thumbs desoslide-thumbs-vertical list-inline">
                            <li>
                                <a href="images/l1.jpg">
                                    <img src="{% static 'assets/images/lt1.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                            <li>
                                <a href="images/l6.jpg">
                                    <img src="{% static 'assets/images/lt6.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                            <li>
                                <a href="images/l7.jpg">
                                    <img src="{% static 'assets/images/lt7.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                            <li>
                                <a href="images/l8.jpg">
                                    <img src="{% static 'assets/images/lt8.jpg' %}" alt="chronicle_image"  data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>
<!-- //gallery -->

{% endblock %}